.Academia {
    background-color: red;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .Biblioteca  {
    background-color:red;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .Pilates {
    background-color:red;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
    .Piscina{
    background-color:red;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }